.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner_texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner_pesquisa {
    width: 100%;
    background-color: transparent;
    padding: .8em;
    border-radius: 20px;
    border: 1px solid var(--branco);
    color: var(--branco);
}

.banner_pesquisa::placeholder {
    background-image: url("../../img/Lupa.svg");
    background-repeat: no-repeat;
    background-position: 1.5em;
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* media query de resolução 1024px */

@media screen and (min-width: 1024px) {
    .banner_titulo {
        font-size: 36px;
    }

    .banner_pesquisa {
        width: 50%;
    }

    .banner_pesquisa::placeholder {
        background-position: 7em;
    }

}

/* media query de resolução 1728px */

@media screen and (min-width:1728px) {
    .banner_pesquisa {
        width: 30%;
    }

    .banner_pesquisa::placeholder {
        background-position: 7em;
        font-family: var(--fonte-padrao);
        font-weight: 400;
    }

}